<% include ../_head %>

  <form method="POST">
  <article class="glass-view">
    <section>
    <div class="layout-figure">
      <div class="">
        <p class="text-normal">
          Settings
        </p>
      </div>
      <div class="text-x-small">
        <p class="setting">Structures to control</p>
        <select name="structure">
          <%structures.forEach(function(s){%>
            <option value="<%=s.id%>" <%=user.structure==s.id?"selected":""%>><%=s.name%></option>
          <%})%>
        </select>

        <p class="setting">Device to control</p>
        <select name="device">
          <%devices.forEach(function(d){%>
            <option value="<%=d.id%>" <%=user.device==d.id?"selected":""%>><%=d.name%></option>
          <%})%>
        </select>

        <p class="setting">Display temp in</p>
        <select name="celcius">
          <option value="true"  <%=user.celcius?"selected":""%>>C</option>
          <option value="false" <%=!user.celcius?"selected":""%>>F</option>
        </select>

      </div>
    </section>
    <footer>
      <p style="float:right">
        <button type="submit ali">Save</button>
      </p>
      <img src="http://i.imgur.com/lBERcCp.png" height="25px" />
    </footer>
  </article>
  </form>


  <div class="footer">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="https://nest.com" target="_blank">nest</a></li>
        <li><a href="http://google.com/glass" target="_blank">Google Glass</a></li>
      </ul>
    </div>
  </div>
<% include ../_foot %>